<div class="card">
    {{#if img}}
    <img src={{img}} alt="Avatar">
    {{/if}}
    <div class="container">
        <h2><b>{{title}}</b></h2>
        <p>
            <a href="/details.html?postid={{postId}}">
                {{#if resume}}
                {{resume}}
                {{else}}
                No synopsis.
                {{/if}}
            </a>
        </p>
    </div>
</div>