<div class="card">
    <div class="container">
        <div id="thumb">
            {{#if thumb}}
            <img src={{thumb}}>
            {{else}}
            <h3>{{title}}</h3>
            {{/if}}
        </div>
        <div>
            <p>
                <a href="/details.html?postid={{postId}}">
                    {{#if thumb}}
                    <b>{{title}}</b>
                    {{/if}}
                    {{#if resume}}
                    {{resume}}
                    {{else}}
                    No synopsis.
                    {{/if}}
                </a>
            </p>
        </div>
    </div>
</div>